#gif-wrapper{
    /* border: 1px solid red; */
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

#gif-id{
    /* border: 1px solid yellowgreen; */
    padding: 7px 0px;
}

#gif-id:hover{
    transform: scale(1.2,1.2);
}